* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
    margin-right: 30px;
}

.menu ul li :hover {
    background-color: blueviolet;
    color: blanchedalmond;
}


.logo {
    grid-area: logo;
}

.tituloPagina {
    grid-area: titulo;
}

.acerca {
    grid-area: acerca;
}

.menu {
    grid-area: nav;
}

.tituloSeccion {

    grid-area: titulosec;
}

.textoSeccion {

    grid-area: textosec;
}

.banner {
    grid-area: banner;
    align-content: center;
}

#pie {
    grid-area: redes;

}

.imagenes {
    grid-area: image;
    display: grid;
    gap: 10px;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-around;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
}


#grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "logo titulo titulo"
        "acerca nav nav"
        "titulosec titulosec titulosec"
        "textosec textosec textosec"
        "image image banner"
        "image image banner"
        "image image banner"
        "redes redes redes";
    font-size: large;
}

footer a {
    display: inline;
    margin-right: 50px;
}


@media screen and (max-width: 420px) {
    #grid-container {
        display: grid;
        gap: 10px;
        padding: 10px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-areas:
            "logo"
            "acerca"
            "titulo"
            "nav"
            "titulosec"
            "textosec"
            "image"
            "redes";
        font-size: small;
    }

    footer a {
        display: inline;
        margin-right: 10px;
        font-size: smaller;
    }
}

@media screen and (max-width: 768px) {
    #grid-container {
        display: grid;
        gap: 10px;
        padding: 10px;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        flex-flow: column;
        justify-content: space-around;
        font-size: x-small;
        grid-template-areas:
            "logo acerca"
            "titulo titulo"
            "nav nav"
            "titulosec titulosec"
            "textosec textosec"
            "banner banner"
            "image image"
            "image image"
            "image image"
            "redes redes";
        font-size: small;
    }

    .imagenes {
        display: flex;
        gap: 10px;
        border: 5px solid black;
        flex-flow: column;
        justify-content: space-around;

    }

    footer a {
        display: inline;
        margin-right: 20px;
    }
}