* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat$disply=swap');

body {
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

#menu li>a {
    font-size: 15px;
    font-weight: bold;
    color: black;

}

#menu form>button {
    font-size: 15px;
    font-weight: bold;
}
.carousel-inner {
    max-height: 42rem;

}

footer {
background: #1b2a4e;
min-height: 100px;
align-content: center;
justify-content: stretch;
}
#iconos i {
    font-size: 30px;
    padding: 0 15px;
    color: #f3f3f3;
}
@media (max-width:768px) {
    #intro {
        width:90% !important;
    }
}